.header{
    width:100%;
    height: 3.58rem;
    line-height: 3.58rem;
    background-color: #E4366B;
    color: #fff;
    font-size: 1.666rem;
    font-family: "黑体";
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #282828;
}
.header .fa-reply{
    position: absolute;
    top:30.23%;
    left: 2.81%;
    color: #690C27;
    text-shadow: none;
}
.header .btn{
    width: 4.625rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    position: absolute;
    top:19.76%;
    right: 2.96%;
    font-size: 1.041rem;
    border-top: 1px solid #F19BB6;
    border-bottom: 1px solid #F19BB6;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(bottom,#D91351,#F8618A);
}


.content{
    width:100%;
    height: 45rem;
    margin-top: 3.58rem;
    margin-bottom: 4.083rem;
    overflow: hidden;
    font-family: "黑体";
    background-color: #F7F7F7;
}

.content>input{
    width: 87.187%;
    height: 3.291rem;
    border: none;
    border-top:1px solid #A5A5A5;
    border-left:1px solid #A5A5A5;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #F9F8E6;
    margin-left: 6.25%;
    font-size: 1.416rem;
    text-indent: 1em;
}
.content>input:nth-of-type(1){
    margin-top: 2.541rem;
}
.content>input:nth-of-type(2){
    margin-top: 1.666rem;
}
.content>input:nth-of-type(3){
    margin-top: 1.833rem;
}

.content .btn{
    width: 87.187%;
    height: 3.791rem;
    line-height: 3.791rem;
    border-top: 1px solid #BBBBBB;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(bottom,#D91351,#FA7D9F);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 6.25%;
    margin-top: 2.833rem;
    cursor: pointer;
}