

.content{
    width: 100%;
    height: auto;
    margin-top: 7.291rem;
    margin-bottom: 4.083rem;
    overflow: hidden;
}
.content .all{
    padding-left: 3.28%;
    padding-right: 5.15%;
}
.content .all li,.content .all p{
    height: 3.625rem;
    line-height: 3.625rem;
    font-size: 1.666rem;
    font-family: "黑体";
}
.content .all li{
    padding-left: 1.625rem;
}
.content .all li span,.content .all p span{
    float: right;
    color: #AFAFAF;
}
.content .all p span{
    transform: rotate(90deg);
}

.content .all ul li{

}

