@charset "utf-8";
/*reset*/
body,button,input,select,textarea{font:100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei" !important;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:0;}
input,img{vertical-align:middle;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
html,body{height:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;color: #666666;background-color:#f3f5f7 !important;font-size: 12px !important;}
a,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);outline:none; -webkit-font-smoothing:antialiased}

/*header*/
.header{
    width:100%;
    height: 3.58rem;
    line-height: 3.58rem;
    background-color: #E4366B;
    color: #fff;
    font-size: 1.666rem;
    font-family: "黑体";
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    position: fixed;
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #282828;
}
/*header  span*/
.header span{
    font-size: 1.208rem;
    font-weight: bold;
    margin-right: 1rem;
}
/*header  fa-reply*/
.header .fa-reply{
    position: absolute;
    top:30.23%;
    left: 2.81%;
    color: #690C27;
    text-shadow: none;
}
/*header  按钮*/
.header .btn{
	display: block;
    width: 4.625rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    position: absolute;
    top:19.76%;
    right: 2.96%;
    font-size: 1.041rem;
    border-top: 1px solid #F19BB6;
    border-bottom: 1px solid #F19BB6;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(bottom,#D91351,#F8618A);
    color: #fff;
    
}


/*search搜索框*/
.search{
    width:100%;
    height: 3.75rem;
    line-height: 3.75rem;
    background-color: #52525A;
    position: fixed;
    top:3.58rem;
    left: 0;
    right: 0;
    z-index: 1;
}
.search .find{
    height: 2.3333rem;
    width: 92.5%;
    border: none;
    margin-left: 4.21%;
    border-radius: 10%/100%;
    outline: none;
    color: #959597;
    font-size: 1rem;
    text-indent: 3em;
}
.search .fa-search{
    position: absolute;
    left: 8.43%;
    top:28.5%;
    font-size: 1.66rem;
}
   
   
.search .box{
	position: absolute;
	top:3rem;
	left: 1rem;
	height: 8rem;
    width: 92.5%;
    background-color: #FFFFFF;
    overflow: auto;
    border-radius: 10px;
    display: none;
}
.search .box li{
            height: 30px;
            width: 100%;
            overflow: hidden;
            border-top:1px solid orange;
            line-height: 30px;
        }
.search .box li:hover{
            background-color: deeppink;
            color: #fff;
        }
/*footer*/
.footer,.bottom{
    width: 100%;
    height: 4.083rem;
    background-color: #484850;
    display: -webkit-box;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
.footer a, .bottom a{
	display: block;
    -webkit-box-flex: 1;
    text-align: center;
    color: #ffffff;
}
.footer i{
    font-size: 2.041rem;
    margin-top: .666rem;
}
.footer p{
    font-family: "黑体";
    font-size: 1.083rem;
}

.footer .current,.bottom .current{
    border-top: 2px solid #E43669;
}
.footer .current i{
    margin-top: .5rem;
}

.bottom{
   line-height: 4.083rem;
    font-size: 1.541rem;
    font-family: "黑体";
}
.bottom a{
	display: block;
    border-right: 1px solid #444447;
}
.bottom .current{
    line-height: 3.75rem;
}